<script src="/local/lib/jquery-3.2.1.min.js"></script>
<script src="/local/lib/countdown360.js"></script>

<dom-module id='ha-panel-alarm'>  
   <template>
      <style include="ha-style iron-flex iron-flex-factors">
:host {
   --countdown-timer-display: none;
   --time-display: initial;
}	
		  app-header-layout {
		     background-color: var(--primary-background-color);
		  }
		  app-header {
		     text-align: -webkit-center;
		  }
		  app-toolbar ha-menu-button + [main-title] {
		     margin-left: -50px;
		  }
		  #container ::slotted(.content) {
		     padding: 15px;
		  }
		  .shake{
		     animation: shake linear 1s;
		     animation-iteration-count: 1;
		     transform-origin: 50% 50%;
		     -webkit-animation: shake linear 1s;
		     -webkit-animation-iteration-count: 1;
		     -webkit-transform-origin: 50% 50%;
		     -moz-animation: shake linear 1s;
		     -moz-animation-iteration-count: 1;
		     -moz-transform-origin: 50% 50%;
		     -o-animation: shake linear 1s;
		     -o-animation-iteration-count: 1;
		     -o-transform-origin: 50% 50%;
		     -ms-animation: shake linear 1s;
		     -ms-animation-iteration-count: 1;
		     -ms-transform-origin: 50% 50%;
		  }

		  @keyframes shake{
		     0% {
			transform:  translate(0px,0px)  ;
		     }
		     10% {
			transform:  translate(-10px,0px)  ;
		     }
		     20% {
			transform:  translate(10px,0px)  ;
		     }
		     30% {
			transform:  translate(-10px,0px)  ;
		     }
		     40% {
			transform:  translate(10px,0px)  ;
		     }
		     50% {
			transform:  translate(-10px,0px)  ;
		     }
		     60% {
			transform:  translate(10px,0px)  ;
		     }
		     70% {
			transform:  translate(-10px,0px)  ;
		     }
		     80% {
			transform:  translate(10px,0px)  ;
		     }
		     90% {
			transform:  translate(-10px,0px)  ;
		     }
		     100% {
			transform:  translate(0px,0px)  ;
		     }
		  }

		  ha-label-badge {
		     --ha-label-badge-color: rgb(223, 76, 30);
		  }
		  :host ::slotted(.badge-container.ha-label-badge) {
		     margin: 0px 12px;
		  }
		  .actions {
		     margin-left: 20px;
		     @apply(--layout-self-center);
		  }
		  .box {
		     padding-top: 10px;
		     padding-bottom: 10px;
		     display: flex;
		     justify-content: center; /* align horizontal */
		     align-items: center; /* align vertical */
		  }
		  .box-outer {
		     margin: 0 5px 10px 5px;
		     background-color: var(--paper-card-background-color);
		     border-radius: 3px;
		     @apply(--shadow-elevation-4dp);
		  }
		  .box-inner {
		     opacity: var(--dark-primary-opacity);
		     padding: 15px;
		     margin-right: 15px;
		  }
		  .box-sensors {
		     width: 100%;
		  }
		  .title {
		     font-size: large;
		     background-color: var(--primary-color);
		     text-align: -webkit-center;
		     font-weight: 400;
		     color: white;
		     padding: 15px 0px;
		  }

		  .summary {
		     margin: 0px auto 0px;
		     text-align: center;
		  } 
		  /* xs < 768 */
		  @media screen and (max-width: 767px) {
		     .sign {
			font-size: x-large;
		     }
		     #hour, #minute, #middle {
			font-size: xx-large;
		     }
		     #meridiem {
			font-size: 10px;
			margin-left: -20px;
			margin-right: 3px;
		     }
		  }

		  /* sm */
		  @media screen and (min-width: 768px) {
		     .sign {
			font-size: xx-large;
		     }
		     #hour, #minute, #middle {
			font-size: -webkit-xxx-large;
		     }
		     #meridiem {
			font-size: small;
			margin-left: -29px;
		     }
		  }

		  /* md */
		  @media screen and (min-width: 992px) {
		  }

		  /* lg */
		  @media screen and (min-width: 1200px) {
		  }
		  .sign {
		     margin-left: -20px;	
		  }
		  .ok {
		     color: green;
		  }
		  .warning {
		     color: orange;
		  }
		  .danger {
		     color: red;
		  }
		  .name .active {
		     color: red;
		  }
		  div.box-header {
		     width: 33%;
		  }
		  div.countdown-timer {
		     display: var(--countdown-timer-display);
		  }

		  div.code {
		     text-transform: capitalize;
		  }

		  div.code iron-label {
		     font-size: x-large;
		  }

		  paper-button {
		     background: #6b8d9c;
		     color: #ffffff;
		  }
		  div.arm paper-button {
		     width: 100%; 
		     height: 100px; 
		     text-align: -webkit-center;
		  }
		  div.arm paper-button.big {
		     width: 68%;
		  }
		  div.arm paper-button.little {
		     width: 28%;
		  }

		  div.digits paper-button{
		     width: calc(25%);
		     height: 77px;
		     margin-top: 4px;
		     background: var(--primary-color);
		     color: var(--primary-background-color);
		     opacity: 0.9;
		  }
		  div.options {
		     padding-top: 10px;
		  }
		  div.options paper-button{
		     width: 96.5%;
		  }
		  .tappable {
		     cursor: pointer;
		     margin-top: 2px;
		     font-size: 1.2em;
		  }
		  .time {
		     color: var( --primary-color);
		     text-shadow: 1px 1px #6b8d9b;
		     display: var(--time-display);
		  }
		  #middle {
		     text-align: center;
		     padding-left: 8px;
		     margin-right: -5px;
		  }
		  #meridiem {
		     display: inline-block;
		     vertical-align: middle;
		     line-height: normal;
		     height: 100%;
		     color: #6b8d9b;
		  }
		  #weather {
		     color: var( --primary-color); 

		  }
		  #weather-icon img {
		     width: 70px;
		  }
		  #weather-summary span {
		     display: inline-block;
		     vertical-align: middle;
		     line-height: normal;
		     font-weight: bolder;
		     margin-left: 5px;
		  }
		  .hide {
		     display: none;
		  }

      </style>
      <app-header-layout has-scrolling-region>
	 <app-header slot="header" fixed>
	    <app-toolbar>
	       <ha-menu-button narrow='[[narrow]]' show-menu='[[showMenu]]'></ha-menu-button>
	       <div main-title><iron-icon icon='mdi:security-home'></iron-icon>&nbsp;&nbsp;House Alarm</div>
	    </app-toolbar>
	 </app-header>

	 <div class='content'>
	    <div class='horizontal layout center-justified'>
	       <div class='box zone-card box-header'>
		  <ha-label-badge icon='[[computeIcon(alarm.state)]]' label='[[computeLabel(alarm.state)]]' description='[[alarm.entityDisplay]]'></ha-label-badge>
	       </div>

	       <div class='box zone-card box-header' >
		  <template is='dom-if' if='[[alarm.attributes.clock]]'>
		     <div id='time' class='time'>
			<span id="hour">[[hours]]</span>
			<span id="middle">:
			   <span id="meridiem">[[meridiem]]</span>
			</span>
			<span id="minute">[[minutes]]</span>
		     </div>
		  </template>
		  <div id='countdown' class='countdown-timer'></div>
	       </div>


	       <div class='box zone-card box-header'>  
		  <template is='dom-if' if='[[alarm.attributes.weather]]'>
		     <div id='weather-icon'>
			<img src=[[weather.attributes.entity_picture]]></img>
		     </div>
		     <div id='weather-summary'>
			<span>[[weather.state]]</span>
		     </div>
		  </template>
	       </div>

	    </div>

	    <template is='dom-if' if='[[isdisarmed(alarm)]]'>
	       <div class='statecard'>
		  <div class='title arm'>
		     <iron-label><iron-icon icon='mdi:key'></iron-icon>&nbsp;&nbsp;Alarm Deactivated</iron-label>
		  </div>

		  <div class='box arm zone-card'>
		     <paper-button id='arm-perimeter' on-tap='callService' data-call='alarm_arm_night' raised><iron-icon icon='mdi:lock-outline'></iron-icon>&nbsp;Perimeter Mode</paper-button> 
		     <paper-button id='arm-home' on-tap='callService' data-call='alarm_arm_home' raised><iron-icon icon='mdi:lock-outline'></iron-icon>&nbsp;Home Mode</paper-button>
		     <paper-button id='arm-away' on-tap='callService' data-call='alarm_arm_away' raised><iron-icon icon='mdi:lock'></iron-icon>&nbsp;Away Mode</paper-button>
		  </div>
	       </div>
	    </template>


	    <template is='dom-if' if='[[!isdisarmed(alarm)]]'> 
	       <div class='statecard'>
		  <div class='box-outer'>
		     <div class='title code'>
			<iron-label>[[computeLabel(alarm.state)]] Mode Activated&nbsp;<iron-icon icon='mdi:key'></iron-icon>&nbsp;&nbsp;[[code]]</iron-label>
		     </div>
		     <div class='horizontal layout center-justified'>
			<div style='width:100%'>
			   <div class='digits horizontal layout center-justified'>
			      <paper-button on-tap='callcode' data-digit=1 raised>1</paper-button>
			      <paper-button on-tap='callcode' data-digit=2 raised>2</paper-button>
			      <paper-button on-tap='callcode' data-digit=3 raised>3</paper-button>
			      <paper-button class='disarm' on-tap='callService' data-call='alarm_disarm' raised>Disarm</paper-button>
			   </div>
			   <div class='digits horizontal layout center-justified'>
			      <paper-button on-tap='callcode' data-digit=4 raised>4</paper-button>
			      <paper-button on-tap='callcode' data-digit=5 raised>5</paper-button>
			      <paper-button on-tap='callcode' data-digit=6 raised>6</paper-button>
			      <paper-button class='clear' on-tap='callclearcode' raised>Clear</paper-button>
			   </div>
			   <div class='digits horizontal layout center-justified'>
			      <paper-button on-tap='callcode' data-digit=7 raised>7</paper-button>
			      <paper-button on-tap='callcode' data-digit=8 raised>8</paper-button>
			      <paper-button on-tap='callcode' data-digit=9 raised>9</paper-button>
			      <paper-button on-tap='callcode' data-digit=0 raised>0</paper-button>
			   </div>
			</div>
		     </div>
		  </div>
	       </div>
	    </template>

	    <div class='statecard'>

	       <template is='dom-if' if='[[opencount]]'>
		  <div class='box-outer' style='max-width: 100%;' >
		     <div class='title' style=' background-color: orange;' >[[opencount]]x Open Sensors</div>
		     <div class='box-inner'>
			<template is='dom-repeat' items='[[opensensors(allsensors)]]' as='entity'>
			   <state-card-display state-obj="[[entity]]" hass='[[hass]]'></state-card-display>
			</template>
		     </div>
		  </div>
	       </template>


	       <div class='horizontal layout center-justified'>

		  <template is='dom-if' if='[[isperimeter(alarm)]]'>
		     <div class='box-outer box-sensors'>
			<div class='title'>Immediate Sensors</div>
			<div class='box-inner'>
			   <template is='dom-repeat' items='[[perimeter]]' as='entity'>
			      <state-card-display state-obj="[[entity]]" hass='[[hass]]'></state-card-display>
			   </template>
			</div>
		     </div>


		  </template>



		  <template is='dom-if' if='[[!isperimeter(alarm)]]'>
		     <template is='dom-if' if='[[!isdisarmed(alarm)]]'>
			<div class='box-outer box-sensors'>
			   <div class='title'>Delayed Sensors</div>
			   <div class='box-inner'>
			      <template is='dom-repeat' items='[[delayed]]' as='entity'>
				 <state-card-display state-obj="[[entity]]" hass='[[hass]]'></state-card-display>
			      </template>
			   </div>
			</div>

			<div class='box-outer box-sensors'>
			   <div class='title'>Immediate Sensors</div>
			   <div class='box-inner'>
			      <template is='dom-repeat' items='[[immediate]]' as='entity'>
				 <state-card-display state-obj="[[entity]]" hass='[[hass]]'></state-card-display>
			      </template>
			   </div>
			</div>
		     </template>
		  </template>

	       </div>        

	       <div class='box-outer' style='max-width: 100%;' >
		  <template is='dom-if' if='[[isdisarmed(alarm)]]'>
		     <div class='title'>All Sensors</div>
		  </template>
		  <template is='dom-if' if='[[!isdisarmed(alarm)]]'>
		     <div class='title'>Inactive Sensors</div>
		  </template>
		  <div class='box-inner'>

		     <template is='dom-if' if='[[isdisarmed(alarm)]]'>
			<template is='dom-repeat' items='[[opensensors(allsensors)]]' as='entity'>
			   <state-card-display state-obj="[[entity]]" hass='[[hass]]'></state-card-display>
			</template>
			<template is='dom-repeat' items='[[closedsensors(allsensors)]]' as='entity'>
			   <state-card-display state-obj="[[entity]]" hass='[[hass]]'></state-card-display>
			</template>
		     </template>

		     <template is='dom-if' if='[[!isdisarmed(alarm)]]'>
			<template is='dom-repeat' items='[[ignored]]' as='entity'>
			   <state-card-display state-obj="[[entity]]" hass='[[hass]]'></state-card-display>
			</template>
		     </template>
		  </div>
	       </div>
	    </div>
	 </div>

      </app-header-layout>
   </template>
</dom-module>

<script>
Polymer({
   is: 'ha-panel-alarm',
   attached() {
      this.onAttached();
   },

   properties: {
      // things that appear in all the other panels 
      hass:     { type: Object },
      panel:    { type: Object },
      narrow:   { type: Boolean, value: false },
      showMenu: { type: Boolean, value: false },
      // things specific to this alarm panel
      alarm:      { type: Object, observer: 'changeTheme' },
      immediate:  { type: Array, computed: 'computeSensors(hass, alarm.attributes.immediate)' },
      delayed:    { type: Array, computed: 'computeSensors(hass, alarm.attributes.delayed)' },
      ignored:    { type: Array, computed: 'computeSensors(hass, alarm.attributes.ignored)' },
      perimeter:  { type: Array, computed: 'computeSensors(hass, alarm.attributes.perimeter)' },
      allsensors: { type: Array, computed: 'computeSensors(hass, alarm.attributes.allsensors)' },
      weather:	  { type: Object },
      code:       { type: String, value: '' },
      opencount:  { type: Number, value: 0 },
      hours:      { type: String, value: '??' },
      minutes:    { type: String, value: '??' },
      meridiem:   { type: String, value: '?M' },
      // Hold our unobservers
      cleanup:    { type: Array, value: [] },
      attemptedArm:   { type: Boolean, value: false }, 
   },
   changeTheme: function() {
      //    console.log(this.alarm.attributes.warning_colour);
      this.updateStyles({'--countdown-timer-display': 'none'});
      this.updateStyles({'--time-display': 'initial'});
      if (this.alarm.state == 'disarmed') {
	 if (this.attemptedArm == true) { this.resetButtons(); }
	 this.updateStyles({'--primary-color': this.alarm.attributes.disarmed_colour});
      } else if (this.alarm.state == 'armed_away') {
	 this.updateStyles({'--primary-color': this.alarm.attributes.armed_away_colour});
      } else if ( this.alarm.state == 'armed_home') {
	 this.updateStyles({'--primary-color': this.alarm.attributes.armed_home_colour});
      } else if ( this.alarm.state == 'armed_perimeter') {
	 this.updateStyles({'--primary-color': this.alarm.attributes.armed_home_colour}); //SORT THIS OUT
      } else if (this.alarm.state == 'pending') {
	 this.updateStyles({'--primary-color': this.alarm.attributes.pending_colour});
	 this.updateStyles({'--countdown-timer-display': 'initial'});
	 this.updateStyles({'--time-display': 'none'});
	 this.loadTimer();
      } else if (this.alarm.state == 'warning') {
	 this.updateStyles({'--primary-color': this.alarm.attributes.warning_colour});
	 this.loadTimer();
      } else if (this.alarm.state == 'triggered') {
	 this.updateStyles({'--primary-color': this.alarm.attributes.triggered_colour});
      }
   },
   loadTimer: function() {
      var countdownDiv = Polymer.dom(this.root).querySelector('#countdown');
      var countdown = $(countdownDiv).countdown360({
	 radius      : 50,
	 seconds     : this.alarm.attributes.countdown_time,
	 fontColor   : '#FFFFFF',
	 autostart   : false,
	 label       : false,
	 smooth      : true
	    //onComplete  : function () { console.log('done') }
      });
      countdown.stop();
      countdown.start();
   },
   onAttached: function() {
      if (this.alarm.attributes.clock) {
	 this.updateTime();
      }
      if (this.alarm.attributes.weather) {
	 this.getWeather();
      }
   },
   getWeather: function() {
      this.weather = this.hass.states['sensor.dark_sky_summary'];
   },
   updateTime: function() {
      var timeNow = new Date();
      var hours   = timeNow.getHours();
      var minutes = timeNow.getMinutes();
      var meridiem = (hours >= 12) ? " P.M" : " A.M";
      this.hours = ("0" + hours).slice(-2);
      this.minutes = ("0" + minutes).slice(-2);
      this.meridiem = meridiem;
      this.async(this.updateTime,1000);
   },
   // Polymer observers definition
   observers: [ 'onPanelUpdate(hass, panel)' ],
   wtf: function (e) { debugger; return e; },
   // Helpers to figure out what to display 
   isdisarmed:  function(alarm) { return alarm.state == "disarmed"; },
   isperimeter:  function(alarm) { return alarm.state == "armed_perimeter"; },
   issecure:    function(all)   { return this.opensensors(all).length == 0; },
   opensensors: function(all)   { 
      if (all == false) {
	 return false;
      } else {
	 ret = all.filter(function (e) { return ['on', 'open', 'detected', 'unlocked'].indexOf(e.state.toLowerCase()) > -1; }); 
	 this.opencount = ret.length;
	 return ret;
      }

   },
   closedsensors: function(all)   {
      if (all == false) {
	 return false;
      } else {
	 ret = all.filter(function (e) { return ['off', 'closed', 'undetected', 'locked'].indexOf(e.state.toLowerCase()) > -1; });
	 return ret;
      }
   },

   computeSensors: function(hass, ids) {
      if (ids == undefined) {
	 // Control the exception when this.alarm is not ready
	 return false;
      } else {
	 return ids.map(function (key) { return hass.states[key]; }).filter(function (e) { return e != undefined; });
      }
   },
   computeIcon: function (state) {
      switch (state) {
	 case 'disarmed':        return 'mdi:shield-outline';
	 case 'armed_away':      return 'mdi:security-home';
	 case 'armed_home':      return 'mdi:security-home';
	 case 'pending':         return 'mdi:walk';
	 case 'warning':         return 'mdi:run';
	 case 'triggered':       return 'mdi:alert-circle';
	 case 'armed_perimeter': return 'mdi:security-home';
      }
      return 'mdi:help';
   },
   computeLabel: function (state) {
      switch (state) {
	 case 'disarmed':   	 return 'off';
	 case 'armed_away': 	 return 'away';
	 case 'armed_home': 	 return 'home';
	 case 'pending':    	 return 'leave';
	 case 'warning':    	 return 'warn';
	 case 'triggered':  	 return 'alarm';
	 case 'armed_perimeter': return 'perimeter';
      }
      return state;
   },
   // Responding to user inputs
   callcode: function(ev) {
      ev.stopPropagation();
      var digit = ev.target.getAttribute('data-digit');
      this.code = this.code + digit;
      //console.log(this.code);
   },
   callclearcode: function(ev) {
      ev.stopPropagation();
      this.code = '';
      //console.log('Code Cleared: ' + this.code);
   },
   callService: function(ev) {
      ev.stopPropagation();
      var call = ev.target.getAttribute('data-call');
      if (call == 'cancel') { //cancel alarm set and return page to default settings
	 this.resetButtons();
      } else if (ev.target.getAttribute('data-override')) { //Override of open sensors has been pressed so activate alarm
	 this.hass.callService('alarm_control_panel', call, {'entity_id': this.alarm.entityId, 'code': this.code})
      } else if ((call == 'alarm_arm_home' || call == 'alarm_arm_away' || call == 'alarm_arm_night') && this.checkOpenSensors(call)) { //Check if trying to activate home with open sensors. If so ping the warning message
	 console.log('WARNING open sensors');
      } else { //No open sensors or another service call
	 this.hass.callService('alarm_control_panel', call, {'entity_id': this.alarm.entityId, 'code': this.code});
	 this.code = '';
      }
   },
   checkOpenSensors: function(call) {
      if (this.opencount == 0) {
	 return false;
      } else {
	 this.attemptedArm = true;

	 var btnArmHome      = Polymer.dom(this.root).querySelector('#arm-home');
	 var btnArmAway      = Polymer.dom(this.root).querySelector('#arm-away');
	 var btnArmPerimeter = Polymer.dom(this.root).querySelector('#arm-perimeter');

	 btnArmPerimeter.classList.add('hide');
	 btnArmHome.classList.add('big');
	 btnArmAway.classList.add('little');


	 this.override = document.createAttribute("data-override");
	 this.override.value = "true";
	 btnArmHome.setAttributeNode(this.override);
	 var arm_mode = document.createAttribute("data-call");
	 arm_mode.value = call;
	 btnArmHome.setAttributeNode(arm_mode);

	 var arm_mode2 = document.createAttribute("data-call");
	 arm_mode2.value = 'cancel';
	 btnArmAway.setAttributeNode(arm_mode2);

	 btnArmHome.innerHTML = 'Override Sensors and Arm Alarm';
	 btnArmAway.innerHTML = 'Cancel Arm';	

	 var pageContent = Polymer.dom(this.root).querySelector('.content');
	 pageContent.classList.add('shake');

	 return true;
      }
   },
   resetButtons: function() {
      this.attemptedArm = false;

      var pageContent = Polymer.dom(this.root).querySelector('.content');
      pageContent.classList.remove('shake');

      var btnArmHome      = Polymer.dom(this.root).querySelector('#arm-home');
      var btnArmAway      = Polymer.dom(this.root).querySelector('#arm-away');
      var btnArmPerimeter = Polymer.dom(this.root).querySelector('#arm-perimeter');

      btnArmHome.classList.remove('big');
      btnArmAway.classList.remove('little');
      btnArmPerimeter.classList.remove('hide');

      //var override = document.createAttribute("data-override");
      btnArmHome.removeAttributeNode(this.override);

      var arm_mode = document.createAttribute("data-call");
      arm_mode.value = 'alarm_arm_home';
      btnArmHome.setAttributeNode(arm_mode);

      var arm_mode2 = document.createAttribute("data-call");
      arm_mode2.value = 'alarm_arm_away';
      btnArmAway.setAttributeNode(arm_mode2);

      btnArmHome.innerHTML = "<iron-icon icon='mdi:lock-outline'></iron-icon>&nbsp;Home Mode";
      btnArmAway.innerHTML = "<iron-icon icon='mdi:lock'></iron-icon>&nbsp;Away Mode";

   },
   entityTapped: function (ev) {
      ev.stopPropagation();
      var entityId = ev.target.getAttribute('data-entity');
      this.fire('hass-more-info', { entityId: entityId });
   },
   // Observer: polymer gaurantees that this won't be called util hass and panel are both defined
   onPanelUpdate: function(hass, panel) {
      //console.log('onPanelUpdate');
      this.alarm = hass.states[panel.config.alarmid];
      //console.log('Alarm is ', this.alarm);
   },
});
</script>